body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.header-3d {
  padding-top: 4%;
  margin-left: -30px;
  margin-bottom: -30px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: 'Nunito', sans-serif;
}

nav.black {
  background: rgba(0, 0, 0, 0.4);
  height: 80px;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
}

nav.black ul li a {
  color: #fff;
}

nav .logo img {
  padding: 1px 0 5px 0;
  height: 80px;
  width: 120px;
  -webkit-transition: .5s;
  transition: .5s;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  list-style: 80px;
  color: #262626;
  padding: 5px 20px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

nav ul li a.active,
nav ul li a:hover {
  color: #fff;
  background: #b404ab;
  border-radius: 3px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 5px;
  color: #e2e2e2;
  margin: 5px;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 7vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    padding-left: 80%;
  }
  nav .logo img {
    margin-left: 1000% !important;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -6px);
          transform: rotate(45deg) translate(-8px, -6px);
}

img {
  display: block;
  width: 100%;
}

.fondo-imagen {
  position: absolute;
}

.container-header {
  max-width: 150%;
}

.container-servicios {
  max-width: 150%;
}

.tiempo-titulo {
  font-size: 150%;
}

.texto-encabezado {
  padding-top: 2%;
}

.card-services {
  background: #f1efef;
}

.card-text,
.card-title {
  color: #262626 !important;
}

.img-servicios {
  -webkit-transition: all 3s ease !important;
  transition: all 3s ease !important;
}

.img-servicios:hover {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.flecha-bajar {
  font-size: 3rem;
  -webkit-animation: flecha-animada 2s ease-in-out infinite;
  animation: flecha-animada 2s ease-in-out infinite;
}

.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.8rem;
  color: #22282d;
}

.tu-mejor-eleccion ul li {
  min-height: 9rem;
}

.servicios {
  background: url(../images/services.jpg) no-repeat center center;
  background-attachment: fixed !important;
  color: #fff;
  background-size: cover;
}

.servicios article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem 0;
}

.servicios article img {
  margin-right: 1rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60px;
  flex: 0 1 60px;
  overflow: hidden;
}

.servicios article img {
  margin-right: 1rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  overflow: hidden;
}

.servicios h3 {
  margin: 0;
  font-size: 1.1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.servicios h3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.ir-ariiba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  color: #b404ab;
  opacity: 0.5;
  z-index: 99999;
  line-height: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  display: none;
}

.ir-ariiba:hover,
.ir-ariiba:focus {
  outline: 0;
  text-decoration: none;
  color: #b404ab;
  opacity: 1;
}

#gb {
  width: 100px;
  height: 150px;
  background: url(../images/monkey-guybrush.png) no-repeat;
  -webkit-animation: gbwalk 2s steps(6) infinite;
          animation: gbwalk 2s steps(6) infinite;
  margin: 20%;
  position: static;
  /* Ojo, muy costoso en rendimiento */
  /* filter:drop-shadow(5px 5px 5px #000); */
}

@-webkit-keyframes gbwalk {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -624px;
  }
}

@keyframes gbwalk {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -624px;
  }
}

.box {
  padding: 5px 5px 0 5px !important;
}

.box .inner {
  padding: 10px;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */